body {
  background: sc_static('images/pinstripes') repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.sc-theme {
	font: 12px "Lucida Sans", "Lucida Sans", Verdana, Arial, sans-serif;
	padding: 0px;
    line-height: 1.4
}

